:root{
    --primary:   #252D36;
    --secondary: #7D99B5;
    --primarytext: #252D36;
    --blue: #1976D2;
    --red: #FF0000;
    --color-1: #1976D2;
    --buttonTint: #0A3C5C;
    --listColor:  #1e2633;
}
* {
    font-family: sans-serif;

}
h1{
    color: var(--primary);

}
body{
    padding-top: 60px;

    color: var(--secondary);
    background: var(--secondary);
}
text{
    color: black;
    font-size: 16pt;
    text-align: center;

}
h2,h3,h4,h5{
    color: black;
    font-size: 16pt;
}
label,dd{
    color: black;

}


